@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    
}

body {
    margin: 0px;
    background-color: #000000;
    color: #fff;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
}

.banner {
    height: 605px;
    background: 
        url('/assets/images/banner.png') no-repeat bottom left / cover, 
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(51, 168, 219, 0.15) 25% 75%, rgba(0, 0, 0, 0.6));
    border-bottom: 1px solid #33A8DB;
}

.banner-content {
    width: 510px;
    padding: 40px;
    margin: auto;
    font-size: 1.24rem;
}

.logo {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 50%;
    width: 268px;
    height: 268px;
    align-content: center;
    margin: auto;
}

h1 {
    background-image: linear-gradient(#33A8DB, #1472B7);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
    margin: 16px 0px 0px 0px;
}

button {
    width: 326px;
    border-image: linear-gradient(#33A8DB, #1472B7) 1;
    border-width: 2px;
    border-style: solid;
    padding: 19px;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #33A8DB;
    background-color: transparent;
}

button:hover {
    color: white;
    background-color: rgba(51, 168, 219, 0.15);
}

#course-content {
    height: 460px;
    border-bottom: 1px solid #33A8DB;
}

#course-content p {
    width: 792px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: #33A8DB;
    margin-top: 60px;
}

.modules-list {
    margin: 24px;
}

.module {
    margin: auto;
    margin-bottom: 24px;
    padding: 16px;
    width: 535px;
    background-color: #252525;
    border: 1px solid #33A8DB;
    border-radius: 32px;
    box-shadow: inset -2px 6px 4px rgba(0, 0, 0, 0.4);
}

#transform-world {
    height: 500px;
    background: url(assets/images/woman-code.png) no-repeat top / cover;
    background-attachment: fixed;
    border-bottom: 1px solid #33A8DB;
}

#transform-world p {
    margin-top: 0px;
    position: relative;
    top: 175px;
    left: 190px;
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    text-transform: lowercase;
    width: 300px;
    text-shadow: 3px 2px #33A8DB;
}

#professional-challenges {
    width: 792px;
    margin: auto;
    padding-bottom: 60px;
}

footer {
    padding: 60px 0px 20px 0px;
    border-top: 1px solid #33A8DB;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(51, 168, 219, 0.15));
}

footer a {
    text-decoration: none;
    color: #33A8DB;
    font-weight: 700;
}